@charset "UTF-8";

*{
    box-sizing: border-box;

}

body{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: auto 400px auto;
    background-color: whitesmoke;
}

div#container{
    grid-column: 2;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.586);
}

h1{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

header>input{
    background-color: whitesmoke;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

header> button{
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 80px;
    background-color: rgb(54, 183, 54);
    color: white;
    cursor: pointer;
    transition: background-color 0.5s, width 1s;
}

header>button:hover{
    background-color: rgb(1, 159, 1);
    width: 83px;
}

section.task-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.task-list>div{
    background-color: whitesmoke;
    border-radius: 10px;
    height: 30px;
    width: 130px;
    text-align: center;
    margin-top: 10px;
    align-content: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

section.task-list>div:hover{
    background-color:  rgb(54, 183, 54);
    color: white;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.list>span>input{
    cursor: pointer;
}

i{
    color: darkgray;
}

i:hover{
    cursor: pointer;
    color: red;
}

footer{
    color: darkgray;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}